@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Finding Distances With Google Maps APIs</h1>
    <p class="lead">This application uses Google Maps APIs to find the distances between any two locations in the world.</p>
    @Html.ActionLink("Get a distance >>", "Index", "DistanceRoute", new { area = "" }, new { @class = "btn btn-primary btn-large" })
</div>